<p>
    Limits: {{ state.max_file_size|humansize }} file size,
    {% if let Some(e) = state.max_expiry %}
        <span title='{{ e.num_seconds() }} seconds'>{{ e|humanduration }}</span> expiry
    {% endif %}
</p>
{% if let Some(s) = state.extra_footer_text %}
    <p>{{ s }}</p>
{% endif %}
<p>
    <a href="https://github.com/BBaoVanC/bobashare" target="_blank">bobashare</a>
</p>
