<div class="top">
    <header>
        <a href='{{ state.base_url }}'>bobashare</a>
    </header>
    <nav class="navbar">
        <a class="navbar-item" href='{{ state.base_url.join("about/").unwrap() }}'>About</a>
        <a class="navbar-item" href='{{ state.base_url }}'>Upload</a>
        <a class="navbar-item" href='{{ state.base_url.join("paste/").unwrap() }}'>Paste</a>
    </nav>
</div>
