.api-content-container {
    background-color: var(--background-1);
    padding: 0.5em;
}
.api-content-container > :first-child {
    margin-top: 0;
}
.api-content-container > :last-child {
    margin-bottom: 0;
}
