/* Main document formatting */
html {
    margin: 0 1em;
}
body {
    background-color: var(--background-0);
    color: var(--text-0);
    font-family: "Open Sans", "Noto Sans", sans-serif;
    max-width: fit-content;
    margin: 1em auto;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
a {
    color: var(--link-0);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Top formatting */
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
}
.top > .navbar {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.top > header {
    font-weight: bold;
}
.top > header a {
    color: var(--text-0);
}

/* Main content formatting */
main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
