/* Main document formatting */
html {
    margin: 0 1em;
}
body {
    background-color: var(--background-0);
    color: var(--text-0);
    font-family: "Open Sans", "Noto Sans", sans-serif;
    max-width: fit-content;
    margin: 1em auto;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
a {
    color: var(--link-0);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Top formatting */
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 360px;
}
.top > .navbar {
    /* TODO: if width < 480px, make navbar on second line */
    display: flex;
    flex-direction: row;
    gap: 1em;
    /* for some reason it looks misaligned without this */
    margin: auto 0;
}
.top > header {
    font-weight: bold;
    font-size: 1.5em;
}
.top > header a {
    color: var(--text-0);
}

/* Footer formatting */
footer {
    text-align: right;
    font-size: 0.75em;
}
footer p {
    margin: 0;
}

/* Main content formatting */
main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* Icons */
.icon {
    width: 1em;
    height: 1em;
    margin: 0 0.25em;
    vertical-align: middle;
}
