/* Titlebar */
.upload-titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.upload-titlebar > .upload-titlebar-right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Wrap text checkbox */
.upload-content {
    overflow: auto;
}
.upload-content .upload-display-text.wrap-text pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}
