/* Titlebar */
.upload-titlebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.25em;
    justify-content: space-between;
    background-color: var(--background-1);
}
.upload-titlebar > .upload-filename,
.upload-titlebar > .upload-titlebar-right > * {
    display: inline-block;
    margin: 0 0.25em;
}

/* Wrap text checkbox */
.upload-display-text pre {
    background: var(--background-0);
    overflow: auto;
}
.upload-display-text.wrap-text pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

/* Content */
.upload-content-container {
    background-color: var(--background-1);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload-content {
    display: flex;
    justify-content: center;
    width: 100%;
}
.upload-content.upload-binary,
.upload-content.upload-too-large {
    text-align: center;
}
.upload-content.upload-binary > p,
.upload-content.upload-too-large > p {
    margin: 0;
}
.upload-display-image > a {
    /* prevent there being some weird space on the bottom border */
    font-size: 0;
}
.upload-content-container .upload-display-image img,
.upload-content-container .upload-display-video video {
    /* TODO: should a maximum height be set so it's not taller than the entire window (for tall images) */
    max-width: 100%;
}
.upload-display-text > pre {
    margin: 0;
    padding: 0.5em;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
}
.upload-display-pdf,
.upload-display-pdf > object {
    box-sizing: border-box;
    width: 100%;
}
.upload-display-pdf > object {
    height: 90vh;
}
.upload-display-markdown-container {
    width: 100%;
}
.upload-display-markdown {
    max-width: 900px;
    margin: 0 0.5em;
    width: unset;
}
.upload-display-markdown > :first-child {
    margin-top: 0.25em;
}
.upload-display-markdown > :last-child {
    margin-bottom: 0.25em;
}
.upload-display-markdown pre.highlight {
    background-color: var(--background-0);
    padding: 0.5em;
}

/* Markdown tabs */
.markdown-toggle-tabs {
    background-color: var(--background-0);

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    box-sizing: border-box;
    width: 100%;
}
.markdown-toggle-tabs .markdown-tab {
    padding: 0.5em 1em;
}
.markdown-toggle-tabs .markdown-tab.active {
    background-color: var(--background-1);
}
.markdown-toggle-tabs .markdown-tab:hover {
    background-color: var(--background-2);
}
.upload-display-markdown-container:not(.rendered) > .upload-display-markdown {
    display: none;
}
.upload-display-markdown-container:not(.rendered) > .upload-display-text {
    display: block;
}
.upload-display-markdown-container.rendered > .upload-display-markdown {
    display: block;
}
.upload-display-markdown-container.rendered > .upload-display-text {
    display: none;
}
