.error-message {
    background-color: var(--background-1);
    padding: 1em;
    text-align: center;
}
.error-message > h1 {
    margin: 0;
}
.error-message > p:first-child {
    margin-top: 0;
}
.error-message > p:last-child {
    margin-bottom: 0;
}
