/* Form */
.upload-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.upload-form-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.upload-expiry > select,
.upload-submit > input {
    background-color: var(--background-1);
    color: var(--text-0);
    padding: 0.25em;
    border-radius: 0.25em;
    border: 0.125em solid var(--background-3);
}
.upload-expiry > select:hover,
.upload-submit > input:hover {
    background-color: var(--background-2);
}
.upload-submit > input:hover {
    cursor: pointer;
}

/* Form file input */
.upload-file-container {
    position: relative;
    min-width: 360px;
    height: 180px;
    background-color: var(--background-1);
    padding: 0.5em;
    border-radius: 0.5em;
    border: 0.125em dashed var(--text-gray-0);
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upload-file-container:hover {
    background-color: var(--background-2);
}
.upload-file-container > input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;

    box-sizing: border-box;
    padding: 2em;
    /* for some reason this is needed instead of text-align, but only on Chromium */
    text-align-last: center;
}
.upload-file-container > input[type="file"]::file-selector-button {
    display: none;
}
.upload-file-container > input[type="file"]:hover {
    cursor: pointer;
}


/* the buttons are fake and use JS to trigger */
.uploaded-files a:hover {
    cursor: pointer;
}

/* Upload list */
.uploads-heading {
    margin: 1em 0 0 0;
    font-size: 1.25em;
}
.uploaded-files {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 0.75em;
}

/* Uploaded file */
.uploaded-files > .upload-file {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
}
.uploaded-files > .upload-file.in-progress > .upload-progress-right {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
}

/* Background colors */
.uploaded-files > .upload-file.success {
    background-color: var(--background-green-1);
}
.uploaded-files > .upload-file.deleted {
    background-color: var(--background-red-1);
}
.uploaded-files > .upload-file.failed {
    background-color: var(--background-red-1);
}
.uploaded-files > .upload-file.cancelled {
    background-color: var(--background-red-1);
}
.uploaded-files > .upload-file.in-progress {
    position: relative;
    background-color: var(--background-1);
}
.uploaded-files > .upload-file.in-progress > * {
    z-index: 1;
}
.uploaded-files > .upload-file.in-progress > .upload-progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--background-blue-2);
    z-index: 0;
    transition: width 0.25s;
}

/* Text styling */
.uploaded-files > .upload-file.in-progress > .upload-filename {
    font-style: italic;
}
.uploaded-files > .upload-file.deleted > .upload-filename {
    text-decoration: line-through;
}
.uploaded-files > .upload-file.failed {
    font-weight: bold;
}
