{% extends "base.html.jinja" %}

{% block title %}About{% endblock %}
{% block head %}
    <meta property="og:title" content="About">
    <meta name="twitter:title" content="About">
{% endblock %}

{% block main %}
    bobashare is cool. TODO.
{% endblock %}
