{% extends "base.html.jinja" %}

{% block title %}API{% endblock %}
{% block head %}
    <meta property="og:title" content="API">
    <meta name="twitter:title" content="API">

    <link rel="stylesheet" type="text/css" href='{{ state.base_url.join("static/css/api.css").unwrap() }}' crossorigin="anonymous">
{% endblock %}

{% block main %}
    {# TODO: this would be nice as markdown that was parsed into a lazy static #}
    <div class="api-content-container">
        <h1>API</h1>

        <b>Copilot wrote these next two paragraphs.</b>

        <p>
            The API is a RESTful API that allows you to upload and download files.
            The API is currently in beta and is subject to change.
        </p>
        <p>
            The API is currently only available over HTTPS.
        </p>

        <h2>Upload</h2>
        {% let upload_url = state.base_url.join("api/v1/upload/").unwrap() %}
        <code>PUT {{ upload_url }}:filename</code>
        <ul>
            <li><code>filename</code> is the name of the file</li>
            <li>put the contents of the file in the body of the request</li>
        </ul>
        <h3>Example</h3>
        <code>curl -T foo.png -H 'Content-Type: image/png' {{ upload_url }}</code>
    </div>
{% endblock %}
