<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - bobashare</title>

        <link rel="stylesheet" type="text/css" href='{{ state.base_url.join("static/css/colors.css").unwrap() }}' crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href='{{ state.base_url.join("static/css/bobashare.css").unwrap() }}' crossorigin="anonymous">

        <meta property="og:site_name" content="bobashare">
        <meta name="twitter:site" content="bobashare">

        {% block head %}{% endblock %}
    </head>

    <body>
        <div class="top">
            <header>
                <a href='{{ state.base_url }}'>bobashare</a>
            </header>
            <nav class="navbar">
                <a class="navbar-item{% if let Some(CurrentNavigation::Upload) = state.current_navigation %} navbar-active{% endif %}" href='{{ state.base_url }}'>Upload</a>
                <a class="navbar-item{% if let Some(CurrentNavigation::Paste) = state.current_navigation %} navbar-active{% endif %}" href='{{ state.base_url.join("paste/").unwrap() }}'>Paste</a>
            </nav>
        </div>

        <main>
            {% block main %}{% endblock %}
        </main>
    </body>

    <footer>
        <p>
            Limits:
            <span title='{{ state.max_file_size }} bytes'>{{ state.max_file_size|humansize }} file size,</span>
            {% if let Some(e) = state.max_expiry %}
                <span title='{{ e.num_seconds() }} seconds'>{{ e|humanduration }} expiry</span>
            {% endif %}
        </p>
        {% if let Some(s) = state.extra_footer_text %}
            <p>{{ s|safe }}</p>
        {% endif %}
        <p>
            <a href="https://github.com/BBaoVanC/bobashare" target="_blank">bobashare</a>
            v{{ state.version }}
        </p>
    </footer>
</html>
