<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - bobashare</title>

        <link rel="stylesheet" type="text/css" href='{{ state.base_url.join("static/css/colors.css").unwrap() }}' crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href='{{ state.base_url.join("static/css/bobashare.css").unwrap() }}' crossorigin="anonymous">

        {% block head %}{% endblock %}
    </head>

    <body>
        {% include "partials/top.html.jinja" %}

        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
