{% extends "base.html.jinja" %}

{% block title %}{{ filename }} - {{ id }}{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href='{{ state.base_url.join("static/css/display.css").unwrap() }}' crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='{{ state.base_url.join("static/dist/syntax.css").unwrap() }}' crossorigin="anonymous">
    {% if let DisplayType::Text{ highlighted: _ } = contents %}
        <script src='{{ state.base_url.join("static/js/wrap_text.js").unwrap() }}' crossorigin="anonymous"></script>
    {% endif %}
{% endblock %}

{% block main %}
    {% let expiry_human %}
    {% if let Some(e) = expiry_relative %}
        {% let expiry_human = e.clone()|humanduration %}
    {% else %}
        {% let expiry_human = String::from("never") %}
    {% endif %}

    {% let expiry_exact %}
    {% if let Some(e) = expiry_date %}
        {% let expiry_exact = e.to_string() %}
    {% else %}
        {% let expiry_exact = String::from("never") %}
    {% endif %}

    <div class="upload-titlebar">
        <div class="upload-filename">{{ filename }}</div>
        <div class="upload-titlebar-right">
            <div class="upload-expiry" title='{{ expiry_exact }}'>expires {{ expiry_human }}</div>
            <div class="upload-size" title='{{ size }} bytes'>{{ size|humansize }}</div>
            {% if let DisplayType::Text{ highlighted: _ } = contents %}
                <div class="upload-wrap-text-checkbox">
                    <label for="wrap-text">wrap</label>
                    <input type="checkbox" id="wrap-text-checkbox" name="wrap-text" value="Wrap text">
                </div>
            {% endif %}
            <a class="download-button" href='{{ download_url }}'>Download</a>
        </div>
    </div>

    <div class="upload-content-container">
        {% match contents %}
            {% when DisplayType::Other %}
                <div class="upload-content upload-binary">
                    This type of file cannot be displayed. <a href='{{ download_url }}'>Download</a> it instead.
                </div>
            {% when DisplayType::TooLarge %}
                <div class="upload-content upload-too-large">
                    File is too large to be displayed. <a href='{{ download_url }}'>Download</a> it instead.
                </div>
            {% when DisplayType::Text with { highlighted } %}
                <div id="upload-display-text" class="upload-content upload-display-text">
                    <pre>{{ highlighted|safe }}</pre>
                </div>
            {% when DisplayType::Image %}
                <div class="upload-content upload-display-image">
                    <a href='{{ raw_url }}'>
                        <img src='{{ raw_url }}' alt='{{ filename }}'>
                    </a>
                </div>
            {% when DisplayType::Video with (mimetype) %}
                <div class="upload-content upload-display-video">
                    <video controls preload="metadata">
                        <source src='{{ raw_url }}' type='{{ mimetype }}'>
                        Your browser does not support the video tag.
                    </video>
                </div>
            {% when DisplayType::Audio %}
                <div class="upload-content upload-display-audio">
                    <audio controls preload="metadata" src='{{ raw_url }}'>
                        <a>
                            Your browser does not support the audio tag;
                            <a href='{{ raw_url }}'>download</a> the file instead.
                        </a>
                    </audio>
                </div>
        {% endmatch %}
    </div>
{% endblock %}
