{% extends "base.html.jinja" %}

{% block title %}{{ filename }}{% endblock %}
{% block head %}
    <meta name="robots" content="noindex">

    <meta property="og:title" content='{{ filename }} ({{ size|humansize }})'>
    <meta name="twitter:title" content='{{ filename }} ({{ size|humansize }})'>

    {% match contents %}
        {% when DisplayType::Image %}
            <meta property="og:image" content='{{ raw_url }}'>
            <meta property="og:image:type" content='{{ mimetype }}'>
            <meta name="twitter:image" content='{{ raw_url }}'>
            <meta name="twitter:card" content="summary_large_image">
        {% when DisplayType::Video %}
            {# <meta property="og:type" content="video.other"> #}
            <meta property="og:video" content='{{ raw_url }}'>
            <meta property="og:video:type" content='{{ mimetype }}'>
            <meta name="twitter:card" content="player">
            <meta name="twitter:player" content='{{ raw_url }}'>
        {% when DisplayType::Audio %}
            <meta property="og:audio" content='{{ raw_url }}'>
            <meta property="og:audio:type" content='{{ mimetype }}'>
            <meta name="twitter:card" content="player">
            <meta name="twitter:player" content='{{ raw_url }}'>
        {% else %}
            <meta property="og:type" content="website">
    {% endmatch %}

    <link rel="stylesheet" type="text/css" href='{{ state.base_url.join("static/css/display.css").unwrap() }}' crossorigin="anonymous">
    {% if let DisplayType::Text{ highlighted: _ } = contents %}
        <link rel="stylesheet" type="text/css" href='{{ state.base_url.join("static/css/highlight/syntax.css").unwrap() }}' crossorigin="anonymous">
    {% endif %}

    <script
        id="delete-script-element"
        data-upload-id='{{ id }}'
        src='{{ state.base_url.join("static/js/display.js").unwrap() }}'
        crossorigin="anonymous"></script>

    <template id="delete-button-template">
        <a class="delete-button">Delete</a>
    </template>
{% endblock %}

{% block main %}
    {% let expiry_human %}
    {% if let Some(e) = expiry_relative %}
        {% let expiry_human = e|humanduration %}
    {% else %}
        {% let expiry_human = String::from("never") %}
    {% endif %}

    {% let expiry_exact %}
    {% if let Some(e) = expiry_date %}
        {% let expiry_exact = e.to_string() %}
    {% else %}
        {% let expiry_exact = String::from("never") %}
    {% endif %}

    <div class="upload-titlebar">
        <div class="upload-filename">{{ filename }}</div>
        <div class="upload-titlebar-right">
            <div class="upload-expiry" title='{{ expiry_exact }}'>expires in {{ expiry_human }}</div>
            <div class="upload-size" title='{{ size }} bytes'>{{ size|humansize }}</div>
            {% if let DisplayType::Text{ highlighted: _ } = contents %}
                <div class="upload-wrap-text-checkbox">
                    <label for="wrap-text">wrap</label>
                    <input type="checkbox" id="wrap-text-checkbox" name="wrap-text" value="Wrap text">
                </div>
            {% endif %}
            <a class="download-button" href='{{ download_url }}'>Download</a>
        </div>
    </div>

    <div class="upload-content-container">
        {% match contents %}
            {% when DisplayType::Other %}
                <div class="upload-content upload-binary">
                    This file of type <code>{{ mimetype }}</code> cannot be displayed. <a href='{{ download_url }}'>Download</a> it instead.
                </div>
            {% when DisplayType::TooLarge %}
                <div class="upload-content upload-too-large">
                    File is too large to be displayed. <a href='{{ download_url }}'>Download</a> it instead.
                </div>
            {% when DisplayType::Text with { highlighted } %}
                <div id="upload-display-text" class="upload-content upload-display-text">
                    <pre>{{ highlighted|safe }}</pre>
                </div>
            {% when DisplayType::Image %}
                <div class="upload-content upload-display-image">
                    <a href='{{ raw_url }}'>
                        <img src='{{ raw_url }}' alt='{{ filename }}'>
                    </a>
                </div>
            {% when DisplayType::Video %}
                <div class="upload-content upload-display-video">
                    <video controls preload="metadata">
                        <source src='{{ raw_url }}' type='{{ mimetype }}'>
                        Your browser does not support the video tag.
                        <a href='{{ download_url }}'>Download it instead</a>.
                    </video>
                </div>
            {% when DisplayType::Audio %}
                <div class="upload-content upload-display-audio">
                    <audio controls preload="metadata" src='{{ raw_url }}'>
                        <a>
                            Your browser does not support the audio tag;
                            <a href='{{ raw_url }}'>download</a> the file instead.
                        </a>
                    </audio>
                </div>
        {% endmatch %}
    </div>
{% endblock %}
