{% extends "base.html.jinja" %}

{% block title %}{{ filename }} - {{ id }}{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href='{{ state.base_url.join("static/css/display.css").unwrap() }}' crossorigin="anonymous">
{% endblock %}

{% block main %}
    {% let expiry_human %}
    {% if let Some(e) = expiry %}
        {% let expiry_human = e.clone()|humanduration %}
    {% else %}
        {% let expiry_human = String::from("never") %}
    {% endif %}

    <div class="upload-titlebar">
        <div class="upload-filename">{{ filename }}</div>
        <div class="upload-titlebar-right">
            <div class="upload-expiry">expires {{ expiry_human }}</div>
            <div class="upload-size">{{ size|humansize }}</div>
            <div class="wrap-text-checkbox">
                <label for="wrap-text">wrap</label>
                {# TODO: make this checkbox work using JS #}
                <input type="checkbox" id="wrap-text" name="wrap-text" value="Wrap text">
            </div>
            <div class="download-button">
                <a href="{{ download_url }}">Download</a>
            </div>
        </div>
    </div>

    <div class="upload-content">
        {% match contents %}
            {% when DisplayType::TooLarge %}
                <div class="upload-too-large">
                    Upload is too large to be displayed. <a href="{{ download_url }}">Download</a> it instead.
                </div>
            {% when DisplayType::Text with (data) %}
                <div class="upload-display-plaintext">
                    <pre>{{ data }}</pre>
                </div>
            {% when DisplayType::Binary %}
                <div class="upload-binary">
                    Upload cannot be displayed. <a href="{{ download_url }}">Download</a> it instead.
                </div>
        {% endmatch %}
    </div>
{% endblock %}
