{% extends "base.html.jinja" %}

{% block title %}Paste{% endblock %}

{% block main %}
    <div class="paste-form-container">
        <form class="paste-form">
        </form>
    </div>
{% endblock %}
