{% extends "base.html.jinja" %}

{% block title %}Upload{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href='{{ state.base_url.join("static/css/upload.css").unwrap() }}' crossorigin="anonymous">
    <script
        id="upload-script-element"
        data-upload-api-endpoint='{{ state.base_url.join("api/v1/upload/").unwrap() }}'
        data-delete-api-endpoint='{{ state.base_url.join("api/v1/delete/").unwrap() }}'
        src='{{ state.base_url.join("static/js/upload.js").unwrap() }}'
        crossorigin="anonymous"></script>

    <template id="upload-progress-template">
        <div class="upload-file in-progress">
            <div class="upload-filename"></div>
            <div class="upload-progress-right">
                <div class="upload-progress"></div>
                <a class="upload-cancel">Cancel</a>
            </div>
            <div class="upload-progress-bar" value="0" max="100"></div>
        </div>
    </template>
    <template id="upload-success-template">
        <div class="upload-file success">
            <a class="upload-filename" target="_blank"></a>
            <a class="upload-delete">Delete</a>
        </div>
    </template>
    <template id="upload-deleted-template">
        <div class="upload-file deleted">
            <div class="upload-filename"></div>
            <div class="upload-deleted-text">Deleted</div>
        </div>
    </template>
    <template id="upload-cancelled-template">
        <div class="upload-file cancelled">
            <div class="upload-filename"></div>
            <div class="upload-cancelled-text">Cancelled</div>
        </div>
    </template>
    <template id="upload-fail-template">
        <div class="upload-file failed">
            <div class="upload-filename"></div>
            <div class="upload-failed-text">Failed</div>
        </div>
    </template>
{% endblock %}

{% block main %}
    <div class="upload-form-container">
        <form id="upload-form" class="upload-form">
            <label for="upload-file" class="upload-file-container">
                <span class="drop-title">Drop files here</span>
                or
                <input type="file" id="upload-file" name="file" required>
            </label>
            <div class="upload-expiry">
                <label for="upload-expiry">Expiry</label>
                <select id="upload-expiry" name="expiry" required>
                    {% for opt in expiry_options %}
                        {% let value = opt.0.num_seconds() %}
                        {% let label = opt.0|roughduration %}
                        {% let default = opt.1 %}
                        <option value="{{ value }}s" {% if default %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                    {% if never_expiry_allowed %}
                        <option value="0">Never</option>
                    {% endif %}
                </select>
            </div>
            <div class="upload-submit">
                <input type="submit" value="Create upload">
            </div>
        </form>
    </div>
    <div id="uploaded-files" class="uploaded-files">
        <div class="upload-file in-progress">
            <div class="upload-filename">in-progress.png</div>
            <div class="upload-progress-right">
                <div class="upload-progress">25%</div>
                <a class="upload-cancel">Cancel</a>
            </div>
            <div class="upload-progress-bar" style="width: 25%;"></div>
        </div>
        <div class="upload-file success">
            <a class="upload-filename" target="_blank">successful.jpg</a>
            <a class="upload-delete">Delete</a>
        </div>
        <div class="upload-file deleted">
            <div class="upload-filename">deleted.exe</div>
            <div class="upload-deleted-text">Deleted</div>
        </div>
        <div class="upload-file cancelled">
            <div class="upload-filename">cancelled.zip</div>
            <div class="upload-cancelled-text">Cancelled</div>
        </div>
        <div class="upload-file failed">
            <div class="upload-filename">failed.txt</div>
            <div class="upload-failed-text">Failed</div>
        </div>
    </div>
{% endblock %}
