{% extends "base.html.jinja" %}

{% block title %}Upload{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href='{{ state.base_url.join("static/css/upload.css").unwrap() }}' crossorigin="anonymous">
    <script
        id="upload-script-element"
        data-upload-api-endpoint='{{ state.base_url.join("api/v1/upload/").unwrap() }}'
        data-delete-api-endpoint='{{ state.base_url.join("api/v1/delete/").unwrap() }}'
        src='{{ state.base_url.join("static/js/upload.js").unwrap() }}'
        crossorigin="anonymous"></script>

    <template id="upload-progress-template">
        <div class="upload-file in-progress">
            <div class="upload-filename"></div>
            <div class="upload-progress-right">
                <div class="upload-progress"></div>
                <a class="upload-cancel">Cancel</a>
            </div>
            <div class="upload-progress-bar"></div>
        </div>
    </template>
    <template id="upload-success-template">
        <div class="upload-file success">
            <a class="upload-filename" target="_blank"></a>
            <a class="upload-delete">Delete</a>
        </div>
    </template>
    <template id="upload-deleted-template">
        <div class="upload-file deleted">
            <div class="upload-filename"></div>
            <div class="upload-deleted-text">Deleted</div>
        </div>
    </template>
    <template id="upload-cancelled-template">
        <div class="upload-file cancelled">
            <div class="upload-filename"></div>
            <div class="upload-cancelled-text">Cancelled</div>
        </div>
    </template>
    <template id="upload-fail-template">
        <div class="upload-file failed">
            <div class="upload-filename"></div>
            <div class="upload-failed-text">Failed</div>
        </div>
    </template>
{% endblock %}

{% block main %}
    <form id="upload-form" class="upload-form">
        <label for="upload-file" class="upload-file-container">
            <span class="drop-title">Click or drop files here</span>
            <input type="file" id="upload-file" name="file" required>
        </label>
        <div class="upload-form-bottom">
            <div class="upload-expiry">
                <label for="upload-expiry">Expires in</label>
                <select id="upload-expiry" name="expiry" required>
                    {% for opt in expiry_options %}
                        {% let value = opt.0.num_seconds() %}
                        {% let label = opt.0|humanduration %}
                        {% let default = opt.1 %}
                        <option value="{{ value }}s" {% if default %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                    {% if never_expiry_allowed %}
                        <option value="0">Never</option>
                    {% endif %}
                </select>
            </div>
            <div class="upload-submit">
                <input type="submit" value="Create upload">
            </div>
        </div>
    </form>
    <div id="uploaded-files" class="uploaded-files"></div>
{% endblock %}
